header {
	position: fixed;
	left:0px;
	top: 0px;
	height: 60px;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: red;
	font-size: 35px;
	color: white;
	font-family: 'Courier New', Courier, monospace;
}

main {
	display: grid;
	padding-top: 60px;
	justify-content: center;
}

footer {
	position: absolute;
	left: 0px;
  	bottom: 0px;
	width: 100%;
	background-color: red;
	text-align: center;
	font-size: 25px;
	font-family: 'Courier New', Courier, monospace;
}

#site_info {
	color: white;
}

#portal_button {
	position: fixed;
	right: 20px;
	top: 10px;
}

a {
	text-align: center;
	color: blue;
	text-decoration: underline;
	font-size: 25px;
	font-family: cursive;
}

#redfox{
	position: relative;
	float: left;
	height: 50px;
	bottom: 5px;
}

#newsfeed {
	text-align:center;
	max-width: 900px;
	min-width: 900px;
	font-size: 17.5px;
}

.feedImage {
	max-width: 150px;
	max-height: 150px;
}